<h1>Not Your Mother's Cookbook</h1>
<div class="card">
<h3>Recipes</h3>
</div>
<button class="btn btn-outline-primary" id="add-recipe-btn" type="recipe">Add Recipe</button>
<div class="container">{{recipeData}}</div>
<section class="flex-row justify-center"></section>
{{#each recipes as |recipe|}}
    {{name}}
    <br>
    {{ingredients}}
    <br>
    {{directions}}
    {{/each}}
    </div>
  <button class="btn btn-outline-primary" type="recipe">Add to Favorites</button>
<div class="card">
{{!-- <h4>Favorites</h4>
<div class="container">{{favoritesData}}</div>
<section class="flex-row justify-center"></section>
{{#each favorite as |favorite|}}
    {{> favorite-details}}
    {{/each}}
</div> --}}

<script src="/js/recipe.js"></script>
