<h1>Not Your Mother's Cookbook</h1>
<div class="card">
<h3>Recipes</h3>
</div>
<button class="btn btn-outline-primary" id="add-recipe-btn" type="recipe">Add Recipe</button>
<div class="container">{{recipeData}}</div>
<section class="flex-row justify-center card-holder">
{{#each recipes as |recipe|}}
  <div class="card recipe-card">
  <div class="card-header">
    {{name}}{{id}} <button class="favorite-button" data-userid='{{user.id}}' data-recipeid='{{id}}'>favorite</button>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Ingredients: {{ingredients}}</p>
      <p>Directions: {{directions}}</p>
      <footer class="blockquote-footer">Submitted by: {{user.username}}{{user.id}}</footer>
    </blockquote>
  </div>
</div>
{{/each}}
</section>
</div>
  <button class="btn btn-outline-primary" type="recipe">Add to Favorites</button>
<div class="card">
<h4>Favorites</h4>
<div class="container">{{favData}}</div>
<section class="flex-row justify-center"></section>
{{#if favorite}}
      <div class="card recipe-card">
  <div class="card-header">
    {{name}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Ingredients: {{ingredients}}</p>
      <p>Directions: {{directions}}</p>
      <footer class="blockquote-footer">Submitted by: {{user.username}}</footer>
    </blockquote>
  </div>
</div>
{{/if}}
</div>

<script src="/js/recipe.js"></script>
